.reveal pre span.codelike {
    display: block;
    padding: 0.5em;
    background: #3F3F3F;
    color: #DCDCDC;
    font-family: menlo;
}

.reveal .highlighted {
    color: white;
    font-weight: bold;
    font-style: oblique;
    background-color: black;
    padding-left: 0.2em;
    margin-left: -0.2em;
}

body .reveal code {
    font-family: menlo;
    text-transform: none;
}

body .reveal pre code {
    padding: 0.5em;
}

.reveal .apimock pre {
    font-size: 34pt;
}

.deemphasized {
    color: rgba(190, 190, 190, 1);
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 1);
}

.contactlabel {
    color: orange;
}

.contactinfo {
    color: cyan;
}

.mimic-core-url {
    color: orange;
}

.mimic-plugin-url {
    color: cyan;
}

.highlight-current-green.current-fragment {
    background-color: black;
    text-decoration: underline;
}

.reveal .taba td:first-child {
    text-align: right;
    /* border: 1px solid white; */
}

.reveal .taba td:last-child {
    text-align: left;
    /* border: 1px solid blue; */
}
